@media screen and (max-width: 992px) {
    .main{
        .home{
            .heading{
                font-size: 35px;
                line-height: 55px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .header{
        .navigation{
            gap: 15px;
        }
    }
    .main{
        min-height: 100vh;
        height: auto;
        .home{
            margin-top: 20px;
            flex-direction: column;
            gap: 0;
        }
        .main-footer{
            justify-content: center;
        }
    }
}
@media screen and (max-width: 600px) {
    .header{
        .navigation{
            display: none;
        }
    }
    .main{
        .home{
            .img-content{
                width: 80%;
                img{
                    width: 300px;
                    height: 300px;
                }
            }
        }
        .main-footer{
            gap: 10px;
            .main-footer__item{
                width: 90px;
                height: 60px;
                img{
                    width: 70px;
                }
            }
        }
    }
}